* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 74px;
  background-image: url(./images/image_geometry_1.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}

nav .menu {
  margin-top: 19px;
  margin-right: 14px;
}

#headline {
  display: flex;
  flex-direction: column;
}

.text-block {
  margin: 1.875rem 0.9rem 3rem 1rem;
}

img.decoration {
  margin-top: 2rem;
}

h1.playfair {
  font-size: 312.5%;
  font-weight: 400;
}

p.poppins {
  font-size: 88%;
  font-weight: 400;
}

a.poppins {
  font-size: 100%;
  font-weight: 500;
  background-color: #1a2236;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.dark-blue {
  color: #1a2236;
}

.white {
  color: white;
}