* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 4.625rem;
  background-image: url(./images/image_geometry_1.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}

nav .menu {
  margin-top: 1.188rem;
  margin-right: 0.875rem;
}

#headline {
  display: flex;
  flex-direction: column;
}

.text-block {
  margin: 1.875rem 0.9rem 2rem 0.875rem;
}

img.decoration {
  margin-bottom: 3rem;
}

h1.playfair {
  line-height: 3rem;
  font-size: 3.125rem;
  font-weight: 400;
  margin-bottom: 1.063rem;
}

p.poppins {
  font-size: 0.875rem;
  font-weight: 400;
}

a.poppins {
  display: block;
  height: 3rem;
  margin-top: 1.375rem;
  text-align: center;
  padding-top: 0.8rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #1a2236;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.dark-blue {
  color: #1a2236;
}

.white {
  color: white;
}
