* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 300px;
  margin: 0 auto;
}

nav {
  height: 4.625rem;
  background-image: url(./images/image_geometry_1.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: none;
}

nav .menu {
  margin-top: 1.188rem;
  margin-right: 0.875rem;
}

.mobile-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  top: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  background-image: url(./images/popup-corner.png), url(./images/popup-decoration-1.png), url(./images/popup-decoration-2.png), url(./images/popup-decoration-2.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top left, bottom center, top 74px right 57px, bottom max(110px, 25%) left 54px; /* stylelint-disable-line */
  background-size: 111px 74px, contain, 40px 40px, 40px 40px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.menu-list li {
  line-height: 300%;
}

.menu-list li a {
  text-decoration: none;
  color: #000;
}

.menu-list li a:visited {
  color: #1a2236;
}

#close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
}

#headline {
  margin-top: 1.875rem;
  margin-bottom: 2.5rem;
  background-image: url(./images/image_geometry_2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.text-block {
  margin: 0 0.9rem 0 1rem;
  min-height: calc(100vh - 9rem);
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#headline .headline-decoration {
  display: none;
}

h1.playfair {
  line-height: 3.125rem;
  font-size: 3.125rem;
  font-weight: 400;
  margin-bottom: 1.063rem;
}

#headline p.poppins {
  font-size: 0.875rem;
  font-weight: 400;
}

button.collaboration {
  display: block;
  height: 3.125rem;
  margin-top: 1.375rem;
  margin-bottom: 2rem;
  border: none;
  background-color: #1a2236;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.dark-blue {
  color: #1a2236;
}

.white {
  color: white;
}

#work-section {
  display: grid;
  grid-template-rows: min-content;
  row-gap: 0;
}

#work-section div[class*="dec-div"] {
  display: none;
}

#work-section h2 {
  display: inline-block;
  margin: 0 auto 2rem 1rem;
  font-weight: 400;
  font-size: 3.125rem;
  line-height: 3.125rem;
}

.work-info {
  background-color: #1a2236;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}

.work-card img {
  display: block;
  width: 100%;
  margin-top: -2px;
  margin-bottom: -2px;
}

.project-name {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1rem;
}

.category-list,
.project-details ul {
  margin-top: 1rem;
  display: flex;
}

.category-list li,
.project-details li {
  display: inline-block;
  background-color: #98dede;
  padding: 0.375rem 0.625rem;
  font-weight: 300;
  font-size: 0.646rem;
  line-height: 0.8em;
}

.category-list li:not(:last-of-type),
.project-details li:not(:last-of-type) {
  margin-right: 0.625rem;
}

a.see-project {
  border: 1px solid #fff;
  background-image: url(./images/Union.png);
  background-repeat: no-repeat;
  background-position: center right 0.688rem;
  width: 11.125rem;
  margin-top: 1.25rem;
  padding: 0.625rem;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.5rem;
}

#about-myself-section {
  margin: 3.5rem 0.875rem 1.688rem 1rem;
  display: flex;
  flex-direction: column;
}

#about-myself-section h2 {
  margin-bottom: 1.25rem;
  font-weight: 400;
  font-size: 3.125rem;
  line-height: 3.125rem;
}

#about-myself-section .about-me {
  margin-bottom: 1.25rem;
  font-weight: 400;
  font-size: 0.875rem;
}

#about-myself-section button {
  border: none;
  background-image: url(./images/ic_download.png);
  background-repeat: no-repeat;
  background-position: center right 31.38%;
  background-size: 24px 24px;
  margin-bottom: 1.688rem;
  background-color: #1a2236;
  height: 3.125rem;
  font-weight: 500;
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 0 42.41% 0 27.24%;
}

.knowledge {
  display: grid;
  grid-template-rows: min-content;
  row-gap: 1rem;
}

.knowledge h3 {
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 1.313rem;
}

.knowledge ul {
  font-size: 1.125rem;
  font-weight: 600;
  list-style-position: inside;
}

.knowledge li span {
  position: relative;
  left: -0.85rem;
}

.knowledge div {
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 18rem;
  padding: 3.125rem 3.125rem 1.125rem 3.125rem;
}

.knowledge div.languages {
  background-color: #1c528a;
  background-image: url(./images/hashtag.png);
}

.knowledge div.frameworks {
  background-color: #e2505c;
  background-image: url(./images/Group\ 18.png);
}

.knowledge div.skills {
  background-color: #febf52;
  background-image: url(./images/ic_skills.png);
}

#contact-form {
  background-color: #f9f9fa;
  background-image: url(./images/image_geometry_3.png);
  background-repeat: no-repeat;
  padding: 6.625rem 0.875rem 1.94rem 1.125rem;
  display: flex;
  flex-direction: column;
}

#contact-form h2 {
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 3.125rem;
  margin-bottom: 1.25rem;
}

#contact-form > p {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0.875rem;
}

#contact-form label {
  font-weight: 400;
  font-size: 0.625rem;
  color: #7d7c84;
}

#contact-form input,
#contact-form textarea {
  display: block;
  width: 100%;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-size: 0.875rem;
  color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

#contact-form input {
  margin-bottom: 0;
  height: 3.25rem;
  padding: 1.44rem 1rem 0.31rem 1rem;
}

#contact-form textarea {
  height: 7rem;
  padding: 0.875rem 1rem;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #7d7c84;
  font-size: 0.875rem;
}

#contact-form input:focus,
#contact-form textarea:focus {
  border-color: #1a2236;
  outline: none;
}

#contact-form button {
  width: 100%;
  height: 2.75rem;
  border: none;
  background-color: #1a2236;
  margin-top: 1.25rem;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s ease;
}

footer {
  background-color: #1a2236;
  padding: 1.75rem 0.875rem 2.25rem 1.125rem;
}

#footer button {
  border: none;
  background-color: transparent;
  background-image: url(./images/ic_link_teal.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 1.5rem;
  color: #92dcdc;
  display: block;
  width: 10.25rem;
  font-weight: 500;
  font-size: 1rem;
  text-align: left;
  margin: 0 auto;
  transition: all 0.3s ease;
}

#footer button:hover {
  cursor: pointer;
  color: #fff;
  transform: scale(1.05);
}

#contact-form button:hover,
button.collaboration:hover,
a.see-project:hover,
#about-myself-section button:hover {
  cursor: pointer;
  border: 1px solid #1a2236;
  background-color: white;
  color: #1a2236;
}

#contact-form button:active,
button.collaboration:active,
a.see-project:active,
#about-myself-section button:active {
  border: 2px solid #1a2236;
  background-color: white;
  color: #1a2236;
}

#footer ul {
  margin-top: 1.56rem;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

#footer a {
  display: flex;
}

#footer ul li + li {
  margin-left: 1.81rem;
}

#footer.unvisible,
#about-myself-section.unvisible,
#contact-form.unvisible,
#work-section.unvisible,
#headline.unvisible,
header.unvisible {
  display: none;
}

.visible,
.project-details.visible {
  display: flex;
}

.project-details {
  display: none;
  width: 100vw;
  min-width: 300px;
  min-height: 100vh;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 18px 20px 15px;
}

.project-details .popup-close {
  align-self: flex-end;
}

.popup-close img {
  height: 20px;
  width: 20px;
}

.project-details h2 {
  font-size: 1.25rem;
  line-height: 0.8em;
  margin-top: 1.125rem;
}

.project-details .project-div {
  display: flex;
  flex-direction: column;
}

.project-details p {
  font-size: 1.125rem;
  line-height: 1.5em;
  margin-top: 1.875rem;
}

.project-details ul {
  margin-top: 1.5rem;
  margin-bottom: 1.125rem;
}

.project-details li {
  background-color: #fff;
  border: 0.5px solid #1a2236;
}

.project-details .image-box {
  width: 100%;
}

.project-details .image-box img {
  width: 100%;
}

.project-details .image-box .small-image {
  display: none;
}

.project-details .popup-link {
  margin: 29px auto 0 auto;
  background-image: url(./images/details-popup/ic_link.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  font-size: 1.125rem;
  line-height: 1.65em;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 4%;
  text-align: center;
  border: 1px solid #1a2236;
  width: 76%;
  text-decoration: none;
}

.project-details .popup-link:nth-of-type(2) {
  background-image: url(./images/details-popup/ic_link_github.svg);
}

.project-details .popup-link:hover {
  background-image: url(./images/details-popup/ic_link.svg);
  background-color: #1a2236;
  color: #fff;
}

.project-details .popup-link:nth-of-type(2):hover {
  background-image: url(./images/details-popup/ic_github_white.svg);
}


.project-details .navigate-project {
  display: none;
}

#contact-form input.error {
  border: #e45865 1px solid;
}

#send-message small {
  color: #e45865;
  font-size: 10px;
  display: block;
  min-height: 10px;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  nav {
    height: 100px;
    box-shadow: 0 0.5px 0 #dddfe6;
    background-image: none;
    justify-content: center;
  }

  nav a.menu {
    display: none;
  }

  nav ul {
    display: flex;
    list-style: none;
    margin: auto;
    font-size: 16px;
    justify-content: space-between;
    width: 369px;
  }

  nav ul a {
    text-decoration: none;
    color: #1a2236;
  }

  nav ul a:hover {
    text-decoration: underline;
  }

  #headline {
    background-image: unset;
    padding: 0;
    max-width: 1440px;
    margin: 0 auto 14.6% auto;
    display: flex;
    gap: 0;
  }

  #headline .text-block {
    margin: 0;
    padding: 13.3% 6.3% 13.3% 13.3%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    min-height: unset;
    background-image: url(./images/image_dots.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 27.4% auto;
    z-index: 1;
  }

  #headline .headline-decoration {
    display: block;
    align-self: flex-end;
    width: 50%;
  }

  #headline img {
    width: 100%;
  }

  #headline .text-block h1 {
    line-height: 1em;
    font-size: min(7.63vw, 110px); /* stylelint-disable-line */
    margin-bottom: 46px;
  }

  #headline button {
    font-size: 18px;
    margin-top: 52px;
    margin-bottom: 0;
    width: 254px;
    height: 70px;
  }

  #work-section {
    margin: 0 auto;
    max-width: 1440px;
    display: grid;
    grid-template-rows: 34.9% 3.9% 11.6% 4.9% 11.6% 16% 17.1%;
    grid-template-columns: 32.3% 1% 22.2% 12.2% 20.1% 12.2%;
    gap: 0;
  }

  #work-section h2 {
    grid-area: 1 / 1 / 2 / 2;
    display: block;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: min(7.63vw, 110px); /* stylelint-disable-line */
    line-height: 1em;
    margin: 0;
    text-align: end;
    padding-left: 46.7%;
    background-image: url(./images/image_dots.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 33.3%;
  }

  #work-section div[class*="dec-div"] {
    display: block;
  }

  #work-section div.work-card img {
    display: block;
    margin-bottom: -15px;
  }

  #work-section div.dec-div-2 {
    grid-area: 2 / 2 / 5 / 5;
  }

  #work-section div.dec-div-2 img,
  #work-section div.dec-div-3 img {
    height: 100%;
    width: 100%;
  }

  #work-section div.dec-div-3 {
    grid-area: 6 / 4 / 7 / 7;
  }

  #work-section div.dec-div-4 {
    grid-area: 7 / 3 / 8 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  #work-section div.dec-div-5 {
    grid-area: 7 / 1 / 8 / 2;
  }

  #work-section .work-card {
    position: relative;
    overflow:hidden;
    object-fit: contain;
  }

  #work-section div.w1 {
    grid-area: 3 / 1 / 5 / 2;
  }

  #work-section div.w2 {
    grid-area: 5 / 1 / 7 / 4;
  }

  #work-section div.w3 {
    grid-area: 7 / 4 / 8 / 6;
  }

  #work-section div.w4 {
    grid-area: 4 / 5 / 6 / 7;
  }

  #work-section div.w5 {
    grid-area: 2 / 5 / 4 / 7;
  }

  #work-section div.w6 {
    grid-area: 1 / 3 / 2 / 7;
  }
  
  #work-section .work-info {
    opacity: 0;
    backdrop-filter: blur(10px);
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    transition: opacity ease-out 0.3s;
  }

  #work-section .work-card:hover .work-info{
    opacity: 0.95;
  }

  #work-section div.w6 .work-info {
    height: 57.9%;
  }

  #work-section div .project-name {
    font-size: min(2.7vw, 40px);;
    line-height: 1.3em;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  #work-section div.w6 .project-name {
    overflow: unset;
    font-size: min(4.1vw, 60px);
    line-height: 1em;
    font-weight: 700;
  }

  #work-section ul li {
    line-height: unset;
    font-size: 1.39vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 20px;
  }

  #work-section ul li:last-of-type {
    margin-right: 0;
  }

  #work-section a.see-project {
    background-image: url(./images/ic_arrow_right.png);
    color: #1a2236;
    font-size: min(1.25vw, 18px); /* stylelint-disable-line */
    background-color: #fff;
    width: fit-content;
    line-height: 1.5em;
    padding: 0.66em 53px 0.66em 20px;
  }

  #about-myself-section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 216px min(11%, 160px) 158px min(11%, 160px); /* stylelint-disable-line */
    flex-direction: row;
    justify-content: space-between;
  }

  #about-myself-section > div {
    width: 35.97%;
  }

  #about-myself-section .knowledge {
    margin-right: 20px;
    order: -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    width: min(60%, 36rem); /* stylelint-disable-line */
    min-height: 36rem;
    position: relative;
    background-image: url("./images/image_dots_with_teal.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 38.4%;
    letter-spacing: -0.0525em;
  }

  #about-myself-section .knowledge h3 {
    font-size: 20px;
  }

  #about-myself-section span {
    font-size: 18px;
  }

  #about-myself-section .knowledge div {
    padding: 17.3%;
    padding-right: 3%;
    padding-bottom: 5%;
    height: unset;
  }

  #about-myself-section h2 {
    font-size: min(7.63vw, 110px); /* stylelint-disable-line */
    margin-top: 28px;
    margin-bottom: 30px;
    line-height: 1em;
  }

  #about-myself-section .about-me {
    margin-bottom: 30px;
    text-align: justify;
  }

  #about-myself-section div button {
    background-position: center right 21.6%;
    font-size: 18px;
    padding: 0;
    padding-right: 48px;
    width: 254px;
    max-width: 100%;
    height: 70px;
  }

  #contact-form {
    max-width: 1440px;
    margin: 0 auto;
    padding: 168px min(31%, 446px); /* stylelint-disable-line */
    background-image: url("./images/image-geometry_6.png"), url("./images/image-geometry_7.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
  }

  #contact-form h2 {
    font-size: min(7.63vw, 110px); /* stylelint-disable-line */
    margin-bottom: 40px;
    line-height: 110px;
  }

  #contact-form > p {
    margin-bottom: 40px;
  }

  #contact-form form {
    display: grid;
    column-gap: 35px;
    grid-template-areas:
      'yourname youremail'
      'inputname inputemail'
      'errorname erroremail'
      'yourmessage yourmessage'
      'textarea textarea'
      'button button';
  }

  #contact-form input {
    margin-bottom: 0;
  }

  #contact-form #user-name {
    grid-area: inputname;
  }

  #contact-form #user-email {
    grid-area: inputemail;
  }

  #contact-form form button {
    grid-area: button;
    margin: 40px auto 0 auto;
    width: 254px;
    height: 70px;
    font-size: 18px;
  }

  #contact-form label:first-of-type {
    grid-area: yourname;
  }

  #contact-form label:nth-of-type(2) {
    grid-area: youremail;
  }

  #contact-form label:last-of-type {
    grid-area: yourmessage;
  }

  #contact-form textarea {
    grid-area: textarea;
  }

  #footer {
    padding: 3rem 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #footer ul {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 2rem;
  }

  #footer .social-links li + li {
    margin: 0;
  }

  #footer button.poppins {
    margin: 0;
    font-size: 18px;
    width: fit-content;
    height: 27px;
    background-image: url(./images/ic-link_teal.png);
  }

  #footer span {
    visibility: hidden;
    position: relative;
  }

  footer span::after {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    content: "Get my CV";
  }

  .project-details {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    border: 70px solid rgba(26, 34, 54, 0.95);
    padding: 60px 60px 110px 60px;
    position: relative;
  }

  .project-details .popup-close {
    position: absolute;
    right: 60px;
    top: 72px;
  }

  .popup-close img {
    height: 32px;
    width: 32px;
  }
  .project-details .image-box {
    max-width: 1700px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    position: relative;
  }

  .project-details .image-box img {
    margin-bottom: -2px;
    width: 100%; 
  }
  
  .project-details .image-box a {
    position: absolute;
    top: 37%;
    z-index: 1;
  }

  .project-details .image-box .next-image {
    right: 16px;
  }

  .project-details .image-box .previous-image {
    left: 16px;
  }

  .project-details .image-box .small-image {
    margin-top: -4px;
    display: inline-block;
    width: 25%;
  }

  .project-details h2 {
    margin-top: 0;
    margin-right: 40px;
    font-size: 3.75rem;
    order: -1;
  }

  .project-details ul {
    width: 100%;
    margin-top: 34px;
    margin-bottom: 40px;
  }

  .project-details li {
    padding: 12px 20px;
    font-size: 20px;
    border: 1px solid #1a2236;
  }

  .project-details li:not(:last-of-type) {
    margin-right: 20px;
  }

  .project-details .project-div {
    background-image: url(./images/details-popup/ic_arrow_left.svg), url(./images/details-popup/ic_arrow_right.svg);
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
    max-width: 700px;
    margin: 70px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
  }

  .project-div p {
    width: 100%;
    margin: 0;
  }

  .project-details p:last-of-type {
    margin-top: 1.5em;
  }

  .project-details .popup-link {
    width: 35%;
    margin: 40px 30px 120px 0;
  }

  .project-details .popup-link:nth-of-type(2) {
    margin-right: 0;
  }

  .project-details .navigate-project {
    display: block;
    position: absolute;
    bottom: 0;
    left: 40px;
    font-size: 18px;
    line-height: 1.5em;
  }

  .project-details .navigate-project:last-of-type {
    left: unset;
    right: 40px;
  }

  #send-message small {
    grid-area: erroremail;
    color: #e45865;
    display: block;
    height: 35px;
    margin-bottom: 0;
  }
}
